body {
    background-size: cover;
}



/* 로그인 */

.hidden {
    display: none;
}

#login-form {
    text-align: center;
}

#greeting {
    text-align: center;
    color: white;
    font-size: 60px;
}

.box {
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
}

/*  시계  */

.clock {
    color:white;
    font-size : 100px;
    text-align: center;
    margin-top: 100px;
}

/* 투두 */

#todo-form {
    text-align: center;
}

#todo-list {
    text-align: center;
    font-size: 25px;
    color: white;
}


/* 날씨 */

#weather {
    text-align: center;
    color: white;
    font-size : 25px;
}